@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-heading: "Inria Serif", serif;
  --font-body: "Poppins", sans-serif;
}

@theme {
  /* Font families */
  --font-family-heading: "Inria Serif", serif;
  --font-family-body: "Poppins", sans-serif;

  /* Colors */
  --color-gray-background: #f4f4f4;
  --color-gray-primary: #d9d9d9;
  --color-gray-secondary: #333333;

  --color-gray-dark-background: #ffffff;
}

.icon-hover {
  @apply transition-transform duration-200 hover:scale-110 /* hover:translate-x-1 */;
}

/* date picker */
@import "react-datepicker/dist/react-datepicker.css";

/* sobrescreve o container */
.react-datepicker {
  @apply bg-white rounded-2xl shadow-lg z-0;
}

/* cabeçalho */
.react-datepicker__header {
  @apply bg-gray-100 border-0 rounded-t-2xl;
}

/* dias */
.react-datepicker__day {
  @apply w-10 h-10 flex items-center justify-center rounded-full z-1;
}
.react-datepicker__day:hover {
  @apply bg-blue-500 text-white;
}
/* dia selecionado */
.react-datepicker__day--selected {
  @apply bg-blue-600 text-white;
}
